<p>
	<strong>Producto</strong>
	<%= @product.name %>
</p>
<p>
	<strong>Descripción</strong>
	<%= @product.description %>
</p>
<p>
	<strong>Precio</strong>
	<%= @product.price %>
</p>

<%= link_to 'Volver', products_path %>
<%= link_to 'Crear producto', new_product_path %>
<%= link_to 'Editar', edit_product_path %>